h4.site--main {
    font-weight: 400 !important;
    color: #02acb7;
    font-size: 24px !important;
}

.payment-details ul {
    list-style: none;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(27, 53, 53, 0.1);
    margin-top: 20px;
}

.payment-details ul li {
    color: #1B3535;
    font-size: 14px;
    padding-bottom: 10px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.send-recipt-card {
    text-align: left;
    padding: 20px;
    background: #f7f6f5;
    border-radius: 20px;
    margin: 20px;
}

.detail-data .send-recipt-card h3 {
    font-weight: normal;
    margin-bottom: 5px;
}

.detail-data .send-recipt-card p {
    padding: 0;
    text-align: left;
    margin-bottom: 8px;
}

.detail-data p {
    color: rgba(27, 53, 53, 0.4);
    padding: 0 20px;
    font-size: 14px;
    text-align: center;
    line-height: 20px;
}

.detail-data input {
    width: 100%;
    padding: 16px 20px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 10px !important;
    border: 1px solid rgba(27, 53, 53, 0.1);
    box-sizing: border-box;
    outline: none;
}

.sub-btn {
    margin-top: 10px;
    text-align: center;
}

.send-recipt-card input[type="button"] {
    width: 60%;
    background-color: #F94C48;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 45px;
    cursor: pointer;
    border-radius: 20px !important;
    margin-bottom: 0;
}