body{
  font-family: 'Roboto', sans-serif;
  background: #f3f3f3;
}

*{
  margin: 0;
  padding: 0;
}

.cotainer-outer {
  width: 100%;
  margin: auto;
  padding: 15px 0;
  max-width: 500px;
  background: #fff;
}

.cotainer-inner {
  width: 100%;
  /* padding: 0 15px; */
  max-width: 375px;
  margin: auto;
}

