.form-data {
    border-radius: 5px;
    padding: 20px 0;

    input {
        font-size: 14px;
        font-family: 'font-book';
        color: #3d3d3d;
        letter-spacing: 1px;
        background-color: #ffffff;
    }
}

.form-data label {
    color: rgba(27, 53, 53, 0.5);
    font-size: 14px;
    text-align: center;
}

.amount-container {
    position: relative;
    &:before {
        content: '$';
        position: absolute;
        top: 20.5px;
        left: 9px;
        color: #3d3d3d;
        font-family: 'font-book';
    }

    input {
        padding-left: 22px;
    }
}

.form-data label {
    color: rgba(27, 53, 53, 0.5);
    font-size: 14px;
    text-align: center;
}

.sub-btn {
    margin-top: 10px;
    text-align: center;
}

.form-data input[type=button] {
    width: 60%;
    background-color: #F94C48;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 45px !important;
    cursor: pointer;
}

// .form-data input[type=button]:hover {
//     background-color: #45a049;
// }

.error-field {
    border-color: red !important;
}

.title-des p {
    margin-bottom: 15px;
}

.title-des {
    text-align: center;
}

.error-message {
    border-radius: 20px;
    padding: 12px 15px;
    margin-bottom: 10px;
    color: rgba(249,76,72,0.8);
    font-size: 14px;
    background: #feeeee;
    line-height: 20px;
    text-align: center;
}

span.text-blue {
    color: rgba(0,170,183,1);
}
